
#principal {
  font-family: Roboto, Arial, Helvetica;
  font-size: 90%;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

#dialogoNuevo, #dialogoEditar {
  font-family: Roboto, Arial, Helvetica;
  font-size: 80%;
 }  

#dialogoNuevo title, #dialogoEditar title {
  font-family: Roboto, Arial, Helvetica;
  font-size: 40% !important;
 }  

table {
  width: 70%;
  border-collapse: collapse;
  margin: 0 auto;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #333;
  color: white;
  padding: 10px !important;
  font-weight: bold;
}

td,
th {
  padding: 2px;
  border: 1px solid #ccc;
  text-align: left;
}

label, input {
  display: block;
  width: 100%;
}

input.text {
  width:95%; 
  padding: .1em;
}

#btnAgregar {
  width: 15%;
  margin-right: 15%;
}

#btnEditar,
#btnEliminar {
  font-size: 95%;
  width: 90%;
}

#btnEditar,
td #btnEliminar {
  text-align: center;
}

.AlaDerecha {
  display: flex;
  justify-content: flex-end;
}

.ui-dialog-title, .ui-dialog-buttonpane {
  font-family: Roboto, Arial, Helvetica;
  text-align: center;
}

.ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog-buttonset .btn {
  font-family: Roboto, Arial, Helvetica;
  font-size: 80%;
  text-align: center;
}